<!DOCTYPE html>
<html lang="en">
<style>
  body {
    font-family: sans-serif;
  }

  .head {
    background-color: #696969;
    margin: -9px -10px 0px -10px;
  }

  .buttons {
    font-family: sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border-width: medium;
    background-color: #808080;
    color: #F8F8FF;
    padding: 14px 40px;
  }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <center><h1 class="head">Teste</h1></center>
  <br />
  <br />
  <br/ >

  <div>
    <center>
      <button class="buttons"; onclick="location.href = 'Matematica.html'";>
        Matematica
      </button>
      &nbsp;
      &nbsp;
      <button class="buttons"; onclick="location.href = 'Programare.html'";>
        Programare
      </button>
      &nbsp;
      &nbsp;
      <button class="buttons"; onclick="location.href = 'CulturaGenerala.html'";>
        Cultura Generala
      </button>
    </center>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <center><h1>About</h1></center>
    <p>Acesta este un site pe care poti sa-ti testezi abilitatile sub forma unor teste, apasa pe unul dintre butoanele de mai sus</p>
  </div>
</body>
</html>
